<div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="list-group">
        <a
          href="#"
          class="list-group-item"
          *ngFor="let server of servers; let i = index"
          [routerLink]="['/server', i | increment]"
          [queryParams]="{allowEdit: i % 2 == 1}"
          >
          {{ server.name }}
        </a>
        <a [routerLink]="['/server',4,'edit']"
        [queryParams]="{allowEdit: 1, mode:2}"> testing route</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  